name: Build

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v6

    - name: Setup .NET 10
      uses: actions/setup-dotnet@v5
      with:
        dotnet-version: '10.0.x'

    - name: Install dependencies
      run: dotnet restore

    - name: Build
      working-directory: ChatterinoUpdater
      run: |
        dotnet publish -r win-x64 -o publish/win-x64
        dotnet publish -r win-arm64 -o publish/win-arm64

    - name: tree
      run: |
        tree /F

    - name: Package
      shell: pwsh
      run: |
        mkdir pkg
        mkdir pkg/x64
        mkdir pkg/arm64
        cp ./ChatterinoUpdater/publish/win-x64/ChatterinoUpdater.exe ./pkg/x64
        cp ./ChatterinoUpdater/publish/win-arm64/ChatterinoUpdater.exe ./pkg/arm64

    - name: Upload artifacts
      uses: actions/upload-artifact@v6
      with:
        name: ChatterinoPortableUpdater
        path: pkg/*
